In [2]:
import typing

import numpy as np
import pandas as pd

from src import load_data
from src import embeddings

df_b, df_r = load_data.load_yelp_data()
emb_r = np.lib.format.open_memmap("data/r_emb_large.npy")

In [6]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,True,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': (1970-01-01T07:00, 1970-01-01T20:00..."
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,True,"{'RestaurantsReservations': 'True', 'Restauran...","[Sushi Bars, Restaurants, Japanese]","{'Tuesday': (1970-01-01T13:30, 1970-01-01T22:0..."
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,True,"{'NoiseLevel': ""u'quiet'"", 'GoodForMeal': ""{'d...","[Korean, Restaurants]","{'Monday': (1970-01-01T11:30, 1970-01-01T20:30..."
3,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,False,"{'Smoking': ""u'no'"", 'NoiseLevel': ""u'average'...","[Cocktail Bars, Bars, Italian, Nightlife, Rest...","{'Monday': (1970-01-01T16:00, 1970-01-01T00:00..."
4,Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,False,"{'RestaurantsReservations': 'False', 'Caters':...","[Pizza, Restaurants, Salad, Soup]","{'Tuesday': (1970-01-01T17:00, 1970-01-01T21:3..."

In [5]:
df_b_by_id = df_b.set_index("business_id")
df_r["categories"] = df_r["business_id"].apply(df_b_by_id["categories"].get)

In [11]:
df_r["categories"][0]

['Active Life', 'Cycling Classes', 'Trainers', 'Gyms', 'Fitness & Instruction']

In [23]:
df_r_filtered = df_r[np.array([(isinstance(cats, list) and "Resturaunts" in cats) for cats in df_r["categories"]], dtype=bool)]

In [24]:
df_r_filtered

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, useful, funny, cool, text, date, d1, categories]
Index: []

In [ ]:
e1 = embeddings.embedding("transport")
df_r["d1"] = emb_r @ e1

df_r_filtered.sort_values("d1", ascending=False).head(20)[["stars", "text", "d1"]]

Empty DataFrame
Columns: [stars, text, d1]
Index: []